<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net472" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.6" targetFramework="net452" />
  <package id="LiveCharts.Wpf" version="0.9.6" targetFramework="net452" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net472" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net472" />
</packages>